<footer class="site-footer">
<p>

  <div class="wrapper">

    <div class="footer-col-wrapper">
          {% if site.github_username %}{% include icon-github.html username=site.github_username %}
          {% endif %}

          {% if site.twitter_username %}{% include icon-twitter.html username=site.twitter_username %}
          {% endif %}

          {% if site.twitch_username %}{% include icon-twitch.html username=site.twitch_username %}
          {% endif %}

          {% if site.behance_username %}{% include icon-behance.html username=site.behance_username %}
          {% endif %}

          {% if site.linkedin_username %}{% include icon-linkedin.html username=site.linkedin_username %}
          {% endif %}

          <span class="ico ico-medium"></span>


    </div><p>
      <div class="copyrightstuff">
       COPYRIGHT © 2016 JAMES CALLE. ALL RIGHTS RESERVED.
      </div>
  </div>

</footer>
